// ===== FONT GOOGLE =====
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");

// ===== VARIABLE SCSS =====
// header height
$header-height: 6rem;

// color palette
$black-color: #000000;
$green-color: #51da7f;
$purple-color: #de55f4;
$pink-color: #ff7ee0;
$yellow-color: #fecc4d;
$white-color: #ffffff;

// font body
$font-body: "Space Grotesk", sans-serif;

// font weight
$font-reguler: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// margin
$margin-0-5: 0.5rem;
$margin-1: 1rem;
$margin-1-5: 1.5rem;
$margin-2: 2rem;
$margin-2-5: 2.5rem;
$margin-3: 3rem;
$margin-3-5: 3.5rem;
$margin-4: 4rem;

// z-index
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;

// transition
$transition-400: 0.4s;

// line-height
$leading-text: 170%;

// ===== RESET & BASE =====
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  font-weight: $font-reguler;
  color: $black-color;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

input,
button {
  font-family: $font-body;
  font-weight: $font-reguler;
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

// ===== REUSABLE CSS CLASS =====
.section {
  padding: 7rem 0;

  &-title {
    text-align: center;
    font-size: 28px;
    font-weight: $font-bold;
    margin-bottom: 1rem;
  }

  &-text {
    text-align: center;
    font-size: 15px;
    margin-bottom: 2rem;
    line-height: $leading-text;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2.5rem;
  background-color: $green-color;
  border-radius: 10px;
  border: 2px solid $black-color;
  font-size: 15px;
  font-weight: $font-semibold;
  color: $black-color;
  letter-spacing: 2px;
  text-transform: uppercase;
  box-shadow: -4px 4px 0 $black-color;
}

.container {
  max-width: 1120px;
  width: calc(100% - 3rem);
  margin: 0 $margin-1-5;
}

.grid {
  display: grid;

  &-gap {
    gap: 3rem;
  }
}

.main {
  overflow: hidden;
}

// ===== HEADER SECTION =====
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white-color;
  z-index: $z-fixed;
  transition: $transition-400;
  border-bottom: 2px solid $black-color;

  &__container {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-size: 20px;
    font-weight: $font-bold;
    color: $black-color;
  }

  &__menu {
    @media screen and (max-width: 767px) {
      position: fixed;
      width: 80%;
      top: 7rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      padding: 2rem;
      background-color: $white-color;
      border: 2px solid $black-color;
      box-shadow: -4px 4px 0 $black-color;
      border-radius: 1.5rem;
      transition: $transition-400;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: 0% 0%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__link {
    font-size: 15px;
    color: $black-color;

    &.active-link {
      font-weight: $font-semibold;
    }
  }

  &__social {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;

    &-icon {
      display: inline-flex;
      align-items: center;
      font-size: 1.8rem;
      color: $black-color;
    }
  }

  &__toggle {
    display: inline-flex;
    font-size: 1.5rem;
    color: $black-color;
    cursor: pointer;
  }

  // show menu
  .show-menu {
    opacity: 1;
    transform: scaleY(1);
  }
}

// ===== HOME SECTION =====
.home {
  &__container {
    display: grid;
    padding-top: $header-height;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: $purple-color;
  }

  &__content:nth-child(2) {
    background-color: $yellow-color;
    border-top: 2px solid $black-color;
  }

  &__data {
    text-align: center;
  }
}

// ===== PARTNER SECTION =====
.partner {
  padding: 4rem 0;
  border-top: 2px solid $black-color;
  border-bottom: 2px solid $black-color;

  &__container {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    justify-items: center;
    row-gap: 3.5rem;
  }

  &__content {
    align-self: center;
  }

  &__img {
    width: 120px;
  }
}

// ===== FEATURE SECTION =====
.feature {
  &__data {
    justify-self: center;
  }

  &__text {
    font-size: 15px;
    text-align: center;
    line-height: $leading-text;
  }

  &__content {
    display: grid;
    gap: 3rem;

    &-data {
      display: grid;
      justify-content: center;
      gap: 2rem;
    }

    &-item {
      width: 280px;
      text-align: center;
      padding-bottom: 2rem;
      border-bottom: 2px solid $black-color;
    }

    &-title {
      font-size: 24px;
      font-weight: $font-bold;
      margin-bottom: 1rem;
    }

    &-text {
      font-size: 15px;
      line-height: $leading-text;
    }

    &-img {
      justify-self: center;
    }
  }
}

// ===== PORTFOLIO SECTION =====
.portfolio {
  &__container {
    gap: 2rem;
  }

  &__data {
    justify-self: center;
  }

  &__group,
  &__content {
    display: grid;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: transparent;

    &-data {
      text-align: center;
      padding-bottom: 2rem;
      border-bottom: 2px solid $black-color;
    }

    &-title {
      font-size: 24px;
      font-weight: $font-bold;
      margin-bottom: 1rem;
    }

    &-text {
      font-size: 15px;
      line-height: $leading-text;
      margin-bottom: 2rem;
    }

    &-wrapper {
      display: inline-flex;
      align-items: center;
      gap: 1rem;
    }

    &-tag {
      display: inline-flex;
      padding: 0.5rem 1rem;
      background-color: $white-color;
      border: 2px solid $black-color;
      border-radius: 10px;
      font-size: 15px;
      font-weight: $font-semibold;
      margin-top: 2rem;
    }
  }

  &__item:nth-child(2) {
    background-color: $yellow-color;
    border-top: 2px solid $black-color;
    border-bottom: 2px solid $black-color;
  }

  &__content:nth-child(2) &__item:nth-child(2) {
    background-color: $pink-color;
  }

  &__content:nth-child(3) &__item:nth-child(2) {
    border-bottom: 0;
  }
}

// ===== ABOUT SECTION =====
.about {
  padding: 7rem 0;
  background-color: $purple-color;
  border-top: 2px solid $black-color;
  border-bottom: 2px solid $black-color;

  &__data,
  &__img {
    justify-self: center;
  }

  &__text {
    text-align: center;
    font-size: 15px;
    line-height: $leading-text;
  }
}

// ===== TESTIMONIAL SECTION =====
.testimonial {
  padding: 7rem 0;
  background-color: $yellow-color;
  border-bottom: 2px solid $black-color;

  &__data {
    &-img {
      width: 200px;
      margin-bottom: 1rem;
    }

    &-text {
      font-size: 24px;
      font-weight: $font-medium;
      line-height: $leading-text;
      margin-bottom: 2rem;
    }

    &-name {
      font-size: 20px;
      font-weight: $font-medium;
      margin-bottom: 0.5rem;
    }

    &-profession {
      font-size: 15px;
    }
  }

  &__data,
  &__img {
    justify-self: center;
  }
}

// ===== FAQ SECTION =====
.faq {
  &__container {
    gap: 1rem;
  }

  &__data {
    justify-self: center;
  }

  &__accordion {
    display: grid;
    gap: 1.5rem;

    &-item {
      background-color: $white-color;
      border: 2px solid $black-color;
      box-shadow: -4px 4px 0 $black-color;
      border-radius: 10px;
      transition: $transition-400;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      padding: 1.5rem;
      border-radius: 0.5rem;
      cursor: pointer;
      transition: $transition-400;
    }

    &-title {
      font-size: 16px;
      font-weight: $font-semibold;
    }

    &-icon {
      display: inline-flex;
      font-size: 1.5rem;
      transition: $transition-400;
    }

    &-content {
      overflow: hidden;
      height: 0;
      transition: $transition-400;
    }

    &-text {
      font-size: 13px;
      line-height: $leading-text;
      padding: 0 1.5em 1.5rem;
      transition: $transition-400;
    }
  }

  // accordion open
  .accordion-open {
    & .faq__accordion-icon {
      transform: rotate(45deg);
    }

    &.faq__accordion-item {
      background-color: $green-color;
    }
  }
}

// ===== FOOTER SECTION =====
.footer {
  padding: 7rem 0 2rem;
  background-color: $black-color;

  &__container {
    gap: 7rem;
  }

  &__data {
    text-align: center;
    justify-self: center;
  }

  &__title,
  &__text {
    color: $white-color;
  }

  &__button {
    box-shadow: -4px 4px 0 $white-color;
  }

  &__copy {
    display: grid;
    gap: 2rem;
  }

  &__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  &__logo {
    font-size: 20px;
    font-weight: $font-bold;
    color: $white-color;
  }

  &__list {
    display: inline-flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__link {
    font-size: 15px;
    color: $white-color;

    &.active-link {
      font-weight: $font-semibold;
    }
  }

  &__rights {
    text-align: center;
    font-size: 15px;
    line-height: $leading-text;
    color: $white-color;
    padding-top: 2rem;
    border-top: 2px solid $white-color;
  }
}

// ===== SCROLLUP SECTION =====
.scrollup {
  position: fixed;
  right: 1.5rem;
  bottom: -100%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  background-color: $green-color;
  border: 2px solid $black-color;
  border-radius: 10px;
  font-size: 1.3rem;
  color: $black-color;
  transition: $transition-400;

  &:hover {
    box-shadow: -4px 4px 0 $black-color;
  }

  // scroll action
  &.scroll-action {
    bottom: 3rem;
  }
}

// ===== MEDIA QUERIES =====
// width 480px
@media screen and (min-width: 480px) {
  .section-title {
    font-size: 32px;
  }

  .home__data,
  .feature__data,
  .portfolio__data,
  .portfolio__item-data,
  .about__data,
  .testimonial__data,
  .footer__data {
    width: 400px;
  }

  .feature__content-title,
  .portfolio__item-title {
    font-size: 28px;
  }

  .home__img,
  .feature__content-img,
  .portfolio__item-img,
  .about__img,
  .testimonial__img {
    width: 400px;
  }
}

// width 640px
@media screen and (min-width: 640px) {
  .section-title {
    font-size: 38px;
  }

  .home__data,
  .feature__data,
  .portfolio__data,
  .portfolio__item-data,
  .about__data,
  .testimonial__data,
  .footer__data {
    width: 480px;
  }

  .feature__content-title,
  .portfolio__item-title {
    font-size: 32px;
  }

  .faq__accordion-title {
    font-size: 18px;
  }

  .home__img,
  .feature__content-img,
  .portfolio__item-img,
  .about__img,
  .testimonial__img {
    width: 480px;
  }
}
